.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.reset-form {
  width: 50rem;
  max-width: 130%;
  margin: auto;
  display: block;
}

.signup-form {
    width: 20rem;
    max-width: 100%;
    margin: auto;
    display:block;
}

.newpassword-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}